html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
.resturantItem:hover {
    background-color: lightgrey;
}
.resturantItem {
    cursor: pointer;
    list-style-type: none;
}